.reportview-container .main .block-container {
  padding: 0% !important
}

.block-container{
    padding: 2% 5%;
    margin: 0%;
}

section div.css-1adrfps.e1fqkh3o2{
    padding-top:  3.375rem !important;
}

#MainMenu {
  visibility: hidden;
}
footer {
  visibility: hidden;
}
 